@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --corPrincipal: #182237;
  --corSecundaria: #151c2c;
  --corFundoMenu: #bfbfbf1f;
}

body {
  color: white;
  font-size: 18px;
  font-weight: normal;
  list-style: none;

  margin: 0;
  padding: 0;
}

span{
  color: white;
}

.card{
  border: 1px solid #0000002a;
  box-shadow: 1px 1px 12px #00000033;
  border-radius: 10px;
  justify-content: space-between;
  transition: 0.4s all;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.03);
}


.card button{
  border: 1px solid transparent;
}

.card button:hover{
  transition: 0.4s all;
  border: 1px solid var(--corPrincipal);
}
.card button:hover span{
  transition: 0.4s all;
  color: #151c2c !important;
}

.cardDashboard{
  transition: 0.2s all;
  cursor: pointer;
  width: 100%;
}
.cardDashboard:hover{
  transform: scale(1.02);
  transition: 0.2s all;
}

.bm-cross{
  background-color: white;
  cursor: pointer;
}

.containerGrafico{
  width: 100%;
  height: 300px;
}

.bm-overlay{
  top: 0;
}

@media (max-width: 1085px){
  .menuEstagiarV{
    display: none;
  }
}

@media (max-width: 1024px) {


  .containerModalInfo{
    flex-direction: column;
  }

  .containerModalInfo div{
    width: 100% !important;
    padding: 10px;
  }

  .containerCards1{
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .menuContent {
      margin-left: calc(15% + 20px) !important;
  }

  .contentGrafico{
    display: flex;
    flex-direction: column !important;
  }

  .dashboardGrafico {
    width: 100% !important;
    max-width: none !important;
  }
  .menuLateralDahsboard{
    width: 15.8% !important;
  }

  .containerFooter{
    flex-direction: column;
    align-items: center;
  }
  .contentDescImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }

  .contentDescription{
    flex-wrap: wrap;
  }

  .containerCards1 h2{
    font-size: 20px;
  }
}

@media (max-width: 800px){
  .contentVagas{
    display: flex;
    flex-direction: column;
  }
  .containerGrafico{
    width: 100%;
    height: 240px;
  }

  .cardsDashboard{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .contentDescription{
    flex-direction: column;
  }

  .contentDescription div {
    width: 100%;
  }

  .contentDescImg{
    flex-wrap: wrap;
  }

  .containerGrafico{
    width: 100%;
    height: 215px;
  }

  .containerCards1 h2{
    font-size: 20px;
  }
}

